.container {
    max-width: 1200px;
    margin: 0 auto;
}
.form__block {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 540px;
}
.form__item {
    position: relative;
}
.form__item:not(:last-child) {
    margin-bottom: 15px;
}
.form__item label {
    display: block;
    min-width: 85px;
}
.form__item label span {
    color: red;
}
.form__item input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.form__item .intl-tel-input {
    width: 100%;
}
.form__errorMessage {
    color: red;
    display: none;
    margin-top: 5px;
}
.has-error.empty-error [data-error="empty"],
.has-error.text-error [data-error="text"],
.has-error.phone-error [data-error="phone"] {
    display: block;
}
.has-error input {
    border-color: red;
}

#address2_map {
    height: 340px;
}
.u-AhunterSuggestions {
    border: 1px solid #AAAAAA;
    background: white;
    overflow: auto;
    border-radius: 2px;
}
.u-AhunterSuggestion {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.u-AhunterEmptySuggestion {
    padding: 5px;
    font-style: italic;
    color: #b8661f;
}